---
layout: default
---
<div class="middle-container">

{% if page.carousel %}

  <div class="flexslider">
		<ul class="slides">
		  {% for slides in page.carousel %}
		  <li>
			<div class="slide-image" style="background: url('{{site.baseurl}}/{{ slides.image }}'); background-size:cover; background-position:center center; width:100%;"></div>
			<img class="hidden" src="{{site.baseurl}}/{{ slides.image }}"/>
		  </li>
		  {% endfor %}
		</ul>
  </div>
  <div class="slider-function">
 	<div id="sliderNext"></div>
	<div class="slide-count">
		<span>0</span><span class="current-slide">1</span>/<span>0</span><span class="total-slides"></span>
	</div>	
	<div id="sliderPrev"></div>
  </div>
  {% endif %}
  
    <div class="pop_up_wrapper">
	  <div class="pop_up" id="info">  
		<div class="styling">
			<h3>styling</h3>
			<ul>
				<li>{{page.styling}}</li>
			</ul>
		</div>
		<div class="hair">
			<h3>hair</h3>
			<ul>
				<li>{{page.hair}}</li>
			</ul>
		</div>
		<div class="make-up">
			<h3>make-up</h3>
			<ul>
				<li>{{page.make_up}}</li>
			</ul>
		</div>
		<div class="models">
			<h3>models</h3>
			<ul>
			{% if page.models %}
			{% for model in page.models %}
				<li>{{model.model}}</li>
			{% endfor %}
			{% endif %}	
			</ul>
		</div>
	  </div>
	  <div class="pop_up" id="share">
<!--<div class="fb-share-button" data-href="{{site.url}}{{page.url}}" data-layout="icon"></div>-->
		<!--<a href="https://twitter.com/share" class="twitter-share-button" data-show-count="false"></a>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>-->
				<a class="fb" 	target="_blank" href="https://www.facebook.com/dialog/share?app_id=125245581248327&display=popup&href=https://pankaj20dec.github.io/{{site.baseurl}}{{ page.url }}&redirect_uri=https://pankaj20dec.github.io/{{site.baseurl}}{{ page.url }}">
				</a>	
		 <a class="twitter" target="_blank" href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&amp;text={{ page.title | cgi_escape }}" title="Share on Twitter" class="button">
			
		 </a>
	  </div>
	</div>
	
</div>


 